<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GZHU_autoclock</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container">
      <h1 class="text-center">自动打卡 <span class="label label-default">小程序</span></h1>     
      <div class="container">
        <a class="navbar-brand" href="#">On-clocking users</a>
      </div>
      <ul class="list-group text-center">
        {% for user in users %}
          <li class="list-group-item">{{user}}</li>
        {% endfor %}
      </ul>
      <div class="container">
        <a class="navbar-brand" href="#">Clock time</a>
      </div>
      <div class="panel panel-default  text-center">
        <div class="panel-body">
          当前打卡时间为{{datetime}}
        </div>
      </div>
      <div class="container">
      <a class="navbar-brand" href="#">Setting</a>
      </div>
      <div class="panel panel-default text-center">
        <div class="panel-body">
          设置打卡时间为
          <select class="form-control" id="selector">
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
          </select>
        </div>
        <button type="button" class="btn btn-success" id="setclock">修改打卡时间</button>
        <button type="button" class="btn btn-info" id="getlog" data-html=true data-placement="bottom" data-content="And here's some amazing content. It's very engaging. Right?">查看系统运行信息</button>
        <div class="container"><br></div>
      </div>  
          
        
      <div class="container">
        <a class="navbar-brand" href="#">Adding users</a>
      </div>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" id="exampleInputuser" placeholder="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" id="add">添加</button>
      </form>
      <div class="container">
      </div>
      <span class="col-xs-">
      <br>
      <br><span> 
      <div class="panel panel-success">
      <div class="panel-heading">温馨提示</div>
      <div class="panel-body">
      疫情期间，请各位戴好口罩，谨防开物喔～
      </div>
      </div>
      <div class="alert alert-danger" role="alert"><strong>KaiWu Warning!</strong> You can't get access to GZHU without student ID.</div>
    </div>
    
    
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script>
      var request = new XMLHttpRequest();      
      request.open("POST","./",true);
      request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      request.send('submit=查看系统运行状态');
      request.onload = ()=>{
        $('#getlog').attr("data-content",request.responseText);
        $('#getlog').popover();
      }
      // $('#getlog').on('click', () => $('#getlog').popover());
      
      
      
      $('#setclock').on('click',function(){
      let post_val = $('#selector').val();
      let setclock = new XMLHttpRequest();
      setclock.open("POST","./",true);
      setclock.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      setclock.send('h=' + post_val +'&submit=修改打卡时间');
      alert('将于每天'+post_val+'时00分00秒进行自动打卡');
      window.location.href='./';
      });
      $('#add').on('click',function(){
      let username = $('#exampleInputuser').val();
      let password = $('#exampleInputPassword').val();
      let adduser = new XMLHttpRequest();
      adduser.open("POST","./",true);
      adduser.setRequestHeader("Content-type","application/x-www-form-urlencoded");
      adduser.send('username=' + username + "&password=" + password +'&submit=添加账号');
      alert(username+'添加成功！');
      window.location.href='./';
      });
      
    </script>
  </body>
</html>
